@page
@model PrivacyModel
@{
    ViewData["Title"] = "Про нас";
}
<div class="container text-center font-italic">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p style="text-indent: 30px" class="text-justify">Университет основан в 1944 году.</p>
    <p style="text-indent: 30px" class="text-justify">
        В университете проводятся широкие научные исследования. Чтобы повысить эффективность использования научного потенциала, шире привлекать научных работников к выполнению тематики общегосударственного значения, Ученый совет университета определил приоритетные направления научных исследований, среди которых:
    </p>
    <ul type="disk" style="padding-left: 30px" class="text-justify">
        <li>Прогрессивные системы и методы улучшения тягово-скоростных, экономических и экологических свойств автомобилей.</li>
        <li>Обеспечение надежности и системной эффективности автомобилей и дорожных машин за счет разработки и оптимизации методов, моделей и технологий их производства, ремонта и эксплуатации.</li>
        <li>Механика транспортных средств и сооружений.</li>
        <li>Прогрессивные направления развития транспортного строительства в условиях перехода к рыночной экономике.</li>
        <li>Проблемы формирования рациональных транспортных систем и обеспечение эффективного функционирования их составных элементов в условиях рыночной экономики.</li>
        <li>Современные информационные технологии и технические средства в обучении.</li>
    </ul>
    <p style="text-indent: 30px" class="text-justify">
        В университете углубляется процесс интеграции с академической наукой. Научные работники университета имеют творческие связи с такими ведущими научными учреждениями Национальной Академии Наук Украины как институты: электросварки им. Е. А. Патона, газа, механики, проблем материаловедения, сверхпрочных материалов, общей и неорганической химии воды и др. Ныне творческие связи с научными учреждениями Академии приобретают новое содержание. Свидетельством этого является договор о научно-техническом содружестве между Институтом электросварки им. Е. А. Патона НАН Украины и Национальным транспортным университетом.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        В университете работает четыре специализированных ученых совета по защите докторских и кандидатских диссертаций, которые обеспечивают аттестацию научных кадров высшей квалификации для нужд Украины.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        В НТУ постоянно издаются три межведомственных сборника: "Проблемы транспорта", "Управление проектами, системный анализ и логистика", "Гидравлика и гидротехника". С 1995 года издается Сборник научных работ Национального транспортного университета, а с 1997 года - Вестник Национального транспортного университета.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        Университет поддерживает тесные контакты с родственными вузами, научными центрами стран СНГ, Польши, Германии, Словакии, США и др.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        Почти треть студентов принимает участие в научно-исследовательской работе. Полученные результаты исследований студенты используют при выполнении курсовых и дипломных работ. Десятки воспитанников университета стали лауреатами разных студенческих конкурсов, олимпиад, участниками республиканских научных конференций. Наиболее одаренные из них учатся в магистратуре и зачисляются в резерв для поступления в аспирантуру.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        При кафедрах университета действуют компьютерные классы. Учебные кабинеты и лаборатории оснащены современными испытательными машинами, стендами, приборами и средствами вычислительной техники. В период обучения и прохождения практики студенты получают рабочие профессии - водителя автомобиля, машиниста дорожных машин, оператора электронно-вычислительных машин и др. Читальные залы и книжный фонд библиотеки полностью удовлетворяют нужды студентов. На учебном полигоне широко представлены автомобили и дорожные машины.
    </p>
    <p style="text-indent: 30px" class="text-justify">
        В университете заботятся о физическом развитии студентов, хорошо налажена спортивная работа: есть спортивный комплекс с игровыми и тренажерными залами, плавательным бассейном, пунктами спортивной реабилитации, летний спортивно-оздоровительный лагерь. Работают секции с 18 видов спорта. Наибольшей популярностью пользуется мотоспорт - университетская команда известная во всей Украине и за ее пределами. Традиционно проводится международный студенческий мотокрос на приз НТУ.
    </p>
    <h2>Фото</h2>
    <img src=~/img/logo2.jpg style="width: 100%; height: 400px; border: 2px solid navy; border-radius: 20px; margin-bottom: 10px" />
    <img src=~/img/logo3.jpg style="width: 100%; height: 400px; border: 2px solid navy; border-radius: 20px; margin-bottom: 10px" />
    <img src=~/img/logo4.jpg style="width: 100%; height: 400px; border: 2px solid navy; border-radius: 20px; margin-bottom: 10px" />
    <img src=~/img/logo5.jpg style="width: 100%; height: 400px; border: 2px solid navy; border-radius: 20px;" />
</div>
