@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница Университета";
}

<div class="text-center">
    <h1 class="display-6" style="margin-bottom: 20px; font-weight: bold">Национальный транспортный университет</h1>
    <img src=~/img/logo.jpg style="width: 100%; height: 600px; border: 2px solid navy; border-radius: 20px;" />
    <p style="margin-top: 20px;">Про ректора университета <a href="https://ru.wikipedia.org/wiki/Дмитриченко,_Николай_Фёдорович">Николая Дмитриченка</a>.</p>
</div>
