@page
@model Univer.Pages.Faculties.EditModel

@{
    ViewData["Title"] = "Редактирование факультета";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редактирование факультета</h1>

<h4>Исходные данные</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Faculty.FacultyId" />
            <div class="form-group">
                <label asp-for="Faculty.FacultyName" class="control-label">Наименование факультета:</label>
                <input asp-for="Faculty.FacultyName" class="form-control" />
                <span asp-validation-for="Faculty.FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку факультетов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
