@page
@model Univer.Pages.Access._404Model
@{
    ViewData["Title"] = "Page-404";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <h3 style="color: red">Страница не найдена</h3>
</div>